.centralizado {
    text-align: center;
}

/* estilo do "header" */
.header {
    background-color: rgb(253, 229, 176);
    height: 170px;
    text-align: center;
}

/* estilo do navbar*/
nav {
    background-color:#584b41;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
    min-width: 100%;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* estilo da logo do site */
.logo-site {
    height: 28px; 
    width: auto;
    cursor: pointer;
}

/* estilo da descrição (#sobre) */
.descricao-doces {
    text-align: center;
    font-size: 1.2rem;
    margin: 30px auto;
    max-width: 700px;
    background-color: rgb(253, 229, 176);
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color:#1d1908
}

/* Estilos do main */
main {
    display: flex;
    padding: 20px;
    gap: 40px;
}

.ingredientes, .modo-preparo {
    flex: 1;
    padding: 20px;
    border: 2px solid #4d4c37;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* estilos de caixas */
.title-box {
    background-color: rgb(255, 245, 211);
    padding: 10px; 
    text-align: center;
    font-size: 30px; 
    color: #000000;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-box-subtitulo {
    background-color: rgb(242, 255, 207);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    min-width: 10%;
    max-width: 80%;
    border-radius: 10px;
    border-color: black;
    border-style: solid;  
    margin-left: 124px;
}

/* Fontes de texto */
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 700;
    font-style: normal;
}


.playwrite-hu-uniquifier {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.ancizar-serif {
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-size: 17.5px;
    font-weight: weight;
    font-style: normal;
    padding: 5px;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 800;
    font-style: bold;
    padding-top: 10px;
}

/* footer */
footer {
    background-color:#423831;
    color: white;
    padding: 15px 0;
}